@{
    ViewData["Title"] = "Movie List";
}

<div class="text-light" style="font-size: 3rem">
    <h2>Movie Buddy</h2>
    <span class="mr-3" style="background-color:grey">Welcome to our website!</span> <br />
    <a style="background-color:grey" asp-controller="Movies" asp-action="Index">Show movies</a>
</div>